//
// {{name}} Model
// Generated on {{date}} by gen v{{gen_version}}
//

{{#imports}}
import {{import_name}}
{{/imports}}
{{#subenums}}

/// {{description}}
{{#public}}public {{/public}}enum {{name}}: {{type}} {
    {{#cases}}
    case {{name}}{{#custom_key}} = {{#first_quote}}"{{/first_quote}}{{value}}{{#second_quote}}"{{/second_quote}}{{/custom_key}}
    {{/cases}}
}
{{/subenums}}

/// {{description}}
{{#public}}public {{/public}}struct {{name}}: {{#protocols}}{{protocols_list}}{{/protocols}} {
    {{#fields}}
    /// {{description}}
    {{#public}}public {{/public}}let {{custom_name}}: {{type}}
    {{/fields}}
    {{#public}}

    public init(
        {{#fields}}
        {{custom_name}}: {{type}}{{#comma}},{{/comma}}
        {{/fields}}
    ) {
        {{#fields}}
        self.{{custom_name}} = {{custom_name}}
        {{/fields}}
    }
    {{/public}}
}
