//
// {{name}}+Seeds
// Generated on {{date}} by gen v{{gen_version}}
//

{{#imports}}
import {{import_name}}
{{/imports}}

extension {{name}} {
    enum Seeds {
        static let value = {{name}}(
            {{#fields}}
            {{custom_name}}: <#{{type}}#>{{#comma}},{{/comma}}
            {{/fields}}
        )
    }
}
