//
// {{name}} Translator
// Generated on {{date}} by gen v{{gen_version}}
//

{{#imports}}
import {{import_name}}
{{/imports}}

{{#public}}public {{/public}}struct {{name}}Translator: Translator {
    {{#custom_types.types}}
    let {{translator_name}}: AnyTranslator<{{value}}>
    {{/custom_types.types}}
    {{#custom_types}}

    {{#public}}public {{/public}}init(
        {{#custom_types.types}}
        {{translator_name}}: AnyTranslator<{{value}}> = .init({{translator_class}}()){{#comma}},{{/comma}}
        {{/custom_types.types}}
    ) {
        {{#custom_types.types}}
        self.{{translator_name}} = {{translator_name}}
        {{/custom_types.types}}
    }

    {{/custom_types}}
    {{#public}}public {{/public}}func translateFrom(dictionary json: [String: Any]) throws -> {{name}} {
        {{#normal_fields}}
        let {{custom_name}}: {{type}} = try{{#optional}}?{{/optional}} json.get(DTOKeys.{{key}})
        {{/normal_fields}}
        {{#enum_fields}}
        {{#not_nil}}guard {{/not_nil}}let {{custom_name}} = {{#optional}}try? {{/optional}}{{clean_type}}(rawValue: {{#not_nil}}try {{/not_nil}}json.get(DTOKeys.{{key}})){{#not_nil}} else {
            throw TranslatorError.invalidJSONObject
        }{{/not_nil}}
        {{/enum_fields}}
        {{#custom_fields}}
        let {{custom_name}} = try{{#optional}}?{{/optional}} {{translator_name}}.translateFrom(dictionary: json.get(DTOKeys.{{key}}))
        {{/custom_fields}}
        {{#array_custom_fields}}
        let {{custom_name}} = try{{#optional}}?{{/optional}} {{translator_name}}.translateFrom(array: json.get(DTOKeys.{{key}}))
        {{/array_custom_fields}}
        {{#url_fields}}
        {{#not_nil}}guard {{/not_nil}}let {{custom_name}} = URL(string: {{#not_nil}}try {{/not_nil}}{{#optional}}(try? {{/optional}}json.get(DTOKeys.{{key}}){{#optional}}) ?? ""{{/optional}}){{#not_nil}} else {
            throw TranslatorError.invalidJSONObject
        } {{/not_nil}}
        {{/url_fields}}
        {{#decimal_fields}}
        {{#optional}}
        var {{custom_name}}: Decimal?
        {{/optional}}
        {{#optional}}if {{/optional}}let {{custom_name}}Double: Double = try{{#optional}}?{{/optional}} json.get(DTOKeys.{{key}}){{#optional}} {{open_bracket}}{{/optional}}
        {{#optional}}    {{/optional}}{{#not_nil}}let {{/not_nil}}{{custom_name}} = Decimal({{custom_name}}Double){{#optional}}
        {{closed_bracket}}{{/optional}}
        {{/decimal_fields}}
        return {{name}}(
            {{#fields}}
            {{custom_name}}: {{custom_name}}{{#comma}},{{/comma}}
            {{/fields}}
        )
    }

    {{#public}}public {{/public}}func translateToDictionary(_ object: {{name}}) -> [String: Any] {
        return fromDTO(
            DTOKeys.self,
            [
                {{#normal_fields}}
                .{{key}}: object.{{custom_name}}{{#optional}} as Any{{/optional}},
                {{/normal_fields}}
                {{#enum_fields}}
                .{{key}}: object.{{custom_name}}{{#optional}}?{{/optional}}.rawValue{{#optional}} as Any{{/optional}},
                {{/enum_fields}}
                {{#custom_fields}}
                .{{key}}: {{translator_name}}.translateToDictionary({{#optional}}from: {{/optional}}object.{{custom_name}}),
                {{/custom_fields}}
                {{#array_custom_fields}}
                .{{key}}: {{translator_name}}.translateToArray(object.{{custom_name}}){{#optional}} as Any{{/optional}},
                {{/array_custom_fields}}
                {{#url_fields}}
                .{{key}}: object.{{custom_name}}{{#optional}}?{{/optional}}.absoluteString{{#optional}} as Any{{/optional}},
                {{/url_fields}}
                {{#decimal_fields}}
                .{{key}}: (object.{{custom_name}} as NSDecimalNumber{{#optional}}?{{/optional}}){{#optional}}?{{/optional}}.doubleValue{{#optional}} as Any{{/optional}},
                {{/decimal_fields}}
            ]
        )
    }
}

extension {{name}}Translator {
    enum DTOKeys: String {
        {{#fields}}
        case {{key}}
        {{/fields}}
    }
}
